@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Hugo. DOTNET 7.0</h1>
    <p><a href="https://access.redhat.com/documentation/en-us/net/7.0/html/getting_started_with_.net_on_rhel_9/using_net_7_0_on_openshift_container_platform">DOCUMENTATION</a></p>
    <p><a href="https://github.com/viniciusfcf/s2i-dotnetcore-ex">Source code</a></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
